{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "imports",
      {
        "ruleExtend": "importRules.js"
      }
    ],
    "transform-runtime",
    "react-hot-loader/babel"
  ]
}