{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        // "helpers": false // defaults to true
      }
    ],
    [
      "imports",
      {
        "ruleExtend": "babelImportRules.js"
      }
    ]
  ]
}