@import "~styles/util.less";
@defaultBorderColor: inherit;
@defaultBackgroundColor: transparent;
@checkedBorderColor: inherit;
@checkedBackgroundColor: transparent;
@checkedContentColor: inherit;
@disabledOpacity: 0.7;
.checkbox {
  position: relative;
  display: inline-block;
  line-height: 1;
  width: 1em;
  height: 1em;
  .input {
    display: inline-block;
    line-height: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
  .input + .cover {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    line-height: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: @defaultBorderColor;
    background-color: @defaultBackgroundColor;
  }
  .input:checked + .cover {
    border-color: @checkedBorderColor;
    background-color: @checkedBackgroundColor;
    &:after {
      transform: rotate(45deg);
      position: absolute;
      right: 32%;
      bottom: 25%;
      width: 40%;
      height: 70%;
      display: block;
      content: " ";
      border-style: solid;
      border-width: 0 2px 2px 0;
      border-color: @checkedContentColor;
    }
  }
  .input:disabled + .cover {
    opacity: @disabledOpacity;
  }
}